@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



@theme {
  --color-dark-dim: #b4b4b4;
  --color-light-dim: #6d6d6d;

}


@keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fade-in-up 0.7s ease-out;
  }
  